<div class="link-container">
  <div class="link-unit completed">
    age + postcode
  </div>
  <div class="link-unit">
    about you
  </div>
  <div class="link-unit">
    your kit
  </div>
  <div class="link-unit">
    contact + delivery
  </div>
  <div class="link-unit">
    more about you
  </div>
  <div class="link-unit">
    confirm + pay
  </div>
</div>